:root{
    --primary-text-color: #E9D8A6;
    --secondary-text-color: #94D2BD;
    --primary-color: #005F73;
    --secondary-color: #0A9396;
    --secondary-color-light: #0a94966c;
    --third-color: #CA6702;
    --fourth-color: #EE9B00;
    --darkshades-primary: #001219;
    --darkshades-secondary: #BB3E03;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home-head{
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-image: url('https://images.pexels.com/photos/633409/pexels-photo-633409.jpeg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: flex;
    width: 100%;
    
    ul{
        list-style: none;
        display: flex;
        column-gap: 30px;
        margin-right: 7%;
        margin-left: auto;
        margin-top: 60px;
    }
    a:visited,
    a:link{
        text-decoration: none;
        color: var(--primary-text-color);
        font-size: 1.3rem;
        padding: 10px 15px;
    }
    a:hover,
    a:active{
        background-color: var(--secondary-color-light);
        border-radius: 20px;
    }
}

.hero-text{
    height: 90dvh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    h1{
        transform: translate(20%,-50%);
        color: var(--primary-text-color);
        font-size: 300%;
    }
}